<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <ul class="flex flex-inline gap-10 p-2 m-4 bg-blue-500 border rounded-md text-white text-3xl border-black">
        <li><a href="play.html">Play</a></li>
        <li><a href="sleep.html">Sleep</a></li>
        <li><a href="food.html">Feed</a></li>
    </ul>
</body>
</html>